.blog{
    .blog-row{
        .blog-row-col{

            .block-row-col-img{
                img{
                    max-width:100%; 
                max-height:100%;
                margin:auto;
                display:block;
                }
            }
        }
    }
}