.blog{
    padding-top: 3em;
    .blog-row{
        .blog-row-col{

            img{
                 width:100%; 
                height:auto;
                margin:0 auto;
                display:block;
                }
            
        }
    }
}