#masthead {
	position: relative;
	.lower-menu {
		position: relative;
		@include clearfix();
		padding: 0 13px;
		@include breakpoint($sm) {
			padding: 0 30px;
		}//breakpoint($sm)	
		.site-branding {
			margin:5px 0;
			float: left;
			display: block;
			width: 100%;
			height: 100%;
			background-image: url('../img/logo-colored.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			height: 35px;
			width: 68px;
			@include breakpoint($md) {
				margin:20px 40px 20px 0;
				height: 62px;
				width: 121px;
			}//breakpoint($md)
		}//site-branding
	}//lower-menu
}//#masthead