.hero{
    background: url("../res/group-8@2x.png");
   
    background-size: cover; /* or contain depending on what you want */
  	background-position: center center;
    background-repeat: no-repeat;
    margin:-100px 0 0 0;
    padding:100px 0 0 0;
    @include breakpoint($md){
        margin-top: -100px;
        padding-top: 160px;
    }
    .hero-board{
        text-align: center;
        display: block;
        h1{
            padding: 0 10% 0 10%;
        }
        p{
            display: inline-block;
            width: 75%; 
        }
        a{
          
        }
    }
    .hero-img{
        img{
            display: block;
            position: relative;
            width: 100%;
        }//hero img
    }// hero-img div
}//hero div