/*Add all grid options in here*/

$gutter-width : 30px;
$num-cols : 12;

.wrap {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px
}

.wrap .row {
	margin-left: (-1 * $gutter-width / 2);
	margin-right: (-1 * $gutter-width / 2);
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	@include clearfix();
	&.no-margin,
	&.margin-bottom-0 {
		margin-bottom:0;
	}
	.col {
		float: left;
		padding: 0 $gutter-width / 2;
		min-height: 1px;
		&.col-pad-20 {
			padding: 0 20px;
		}

		&[class*="push-"],
		&[class*="pull-"] {
			position: relative;
		}

		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.xs#{$i} {
					width: $perc;
					margin-left: auto;
					left: auto;
					right: auto;
				}
			$i: $i + 1;
		}
		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");
			&.offset-xs#{$i} {
				margin-left: $perc;
			}
			&.pull-xs#{$i} {
				right: $perc;
			}
			&.push-xs#{$i} {
				left: $perc;
			}
			$i: $i + 1;
		}

		@include breakpoint($sm) {
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
					&.sm#{$i} {
						width: $perc;
						margin-left: auto;
						left: auto;
						right: auto;
					}
				$i: $i + 1
			}

			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
					&.offset-sm#{$i} {
						margin-left: $perc;
					}
					&.pull-sm#{$i} {
						right: $perc;
					}
					&.push-sm#{$i} {
						left: $perc;
					}
				$i: $i + 1;
			}
		}//breakpoint($sm)


		@include breakpoint($md) {
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.md#{$i} {
					width: $perc;
					margin-left: auto;
					left: auto;
					right: auto;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
					&.offset-md#{$i} {
						margin-left: $perc;
					}
					&.pull-md#{$i} {
						right: $perc;
					}
					&.push-md#{$i} {
						left: $perc;
					}
				$i: $i + 1;
			}	
		}//breakpoint($md)
		@include breakpoint($lg) {
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.lg#{$i} {
					width: $perc;
					margin-left: auto;
					left: auto;
					right: auto;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
					&.offset-lg#{$i} {
						margin-left: $perc;
					}
					&.pull-lg#{$i} {
						right: $perc;
					}
					&.push-lg#{$i} {
						left: $perc;
					}
				$i: $i + 1;
			}	
		}//breakpoint($md)		
	}//col
}//row