/********************
	Img
*********************/

.img-responsive {
	max-width: 100%;
	height: auto;
}

/********************
	Section Paddings
*********************/

.padding-top-bottom {
	padding-top: 25px;
	padding-bottom: 25px;
	@include breakpoint($sm) {
		padding-top: 50px;
		padding-bottom: 50px;		
	}//breakpoint($sm)
}

.padding-top {
	padding-top: 25px;
	@include breakpoint($sm) {
		padding-top: 50px;
	}
}
.padding-bottom {
	padding-bottom: 25px;
	@include breakpoint($sm) {
		padding-bottom: 50px;
	}
}

.padding-top-bottom-large {
	padding-top: 20px;
	padding-bottom: 20px;
	@include breakpoint($sm) {
		padding-top: 50px;
		padding-bottom: 50px;
	}//breakpoint($sm)
	@include breakpoint($md) {
		padding-top: 90px;
		padding-bottom: 90px;
	}//breakpoint($md)
}

.padding-top-large {
	padding-top: 20px;
	@include breakpoint($sm) {
		padding-top: 50px;
	}//breakpoint($sm)
	@include breakpoint($md) {
		padding-top: 90px;
	}//breakpoint($md)
}

.padding-bottom-large {
	padding-bottom: 20px;
	@include breakpoint($sm) {
		padding-bottom: 50px;
	}//breakpoint($sm)
	@include breakpoint($md) {
		padding-bottom: 90px;
	}//breakpoint($md)
}

/********************
	Section Margins
*********************/

.margin-top-bottom {
	margin-top: 25px;
	margin-bottom: 25px;
	@include breakpoint($sm) {
		margin-top: 45px;
		margin-bottom: 45px;		
	}//breakpoint($sm)
}

.margin-top {
	margin-top: 25px;
	@include breakpoint($sm) {
		margin-top: 45px;
	}
}
.margin-bottom {
	margin-bottom: 25px;
	@include breakpoint($sm) {
		margin-bottom: 45px;
	}
}

.margin-top-bottom-large {
	margin-top: 20px;
	margin-bottom: 20px;
	@include breakpoint($sm) {
		margin-top: 50px;
		margin-bottom: 50px;
	}//breakpoint($sm)
	@include breakpoint($md) {
		margin-top: 90px;
		margin-bottom: 90px;
	}//breakpoint($md)
}

.margin-top-large {
	margin-top: 20px;
	@include breakpoint($sm) {
		margin-top: 50px;
	}//breakpoint($sm)
	@include breakpoint($md) {
		margin-top: 90px;
	}//breakpoint($md)
}

.margin-bottom-large {
	margin-bottom: 20px;
	@include breakpoint($sm) {
		margin-bottom: 50px;
	}//breakpoint($sm)
	@include breakpoint($md) {
		margin-bottom: 90px;
	}//breakpoint($md)
}

/********************
	Paddings
*********************/
.padding-top-auto {
	padding-top: auto;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}


.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}
/********************
	Margins
*********************/

.margin-top-auto {
	margin-top: auto;
}

.margin-top-0 {
	margin-top: 0px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-0 {
	margin-top: 0px;
}


.margin-bottom-0 {
	margin-bottom: 0px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

/********************
	Colors
*********************/

.text-white,
.text-white * {
	color:$white;

	a {
		color:inherit;
	}
}


/********************
	Text 
*********************/

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.text-uppercase {text-transform: uppercase; letter-spacing: $default-letter-spacing};
.text-extra-bold { font-weight: 800; }
.text-underline {text-decoration: underline;}

.text-center-sm-up {
	@include breakpoint($sm) {
		text-align: center;
	}//breakpoint($sm)
}

.text-right-sm-up {
	@include breakpoint($sm) {
		text-align: right;
	}//breakpoint($sm)
}

.text-left-sm-up {
	@include breakpoint($sm) {
		text-align: left;
	}//breakpoint($sm)
}

.text-center-md-up {
	@include breakpoint($md) {
		text-align: center;
	}//breakpoint($md)
}

.text-right-md-up {
	@include breakpoint($md) {
		text-align: right;
	}//breakpoint($md)
}

.text-left-md-up {
	@include breakpoint($md) {
		text-align: left;
	}//breakpoint($md)
}

.text-center-lg-up {
	@include breakpoint($lg) {
		text-align: center;
	}//breakpoint($lg)
}

.text-right-lg-up {
	@include breakpoint($lg) {
		text-align: right;
	}//breakpoint($lg)
}

.text-left-lg-up {
	@include breakpoint($lg) {
		text-align: left;
	}//breakpoint($lg)
}

/*********************
  Media Query Classes
**********************/

.show-sm-and-up {
	@include breakpoint($sm) {
		display: block!important;
	}//breakpoint($sm)
}//show-sm-and-up

.show-md-and-up {
	@include breakpoint($md) {
		display: block!important;
	}//breakpoint($md)
}//show-md-and-up

.show-lg-and-up {
	@include breakpoint($lg) {
		display: block!important;
	}//breakpoint($lg)
}//show-lg-and-up


.show-sm-only {
	@include breakpoint($sm $md) {
		display: block!important
	}//breakpoint($sm $md)
}

.show-md-only {
	@include breakpoint($md $lg) {
		display: block!important
	}//breakpoint($md $lg)
}

.hide-sm-and-down {
	@include breakpoint(max-width $max-sm) {
		display: none!important;
	}//breakpoint(max-width $max-sm)
}//hide-sm-and-down

.hide-md-and-down {
	@include breakpoint(max-width $max-md) {
		display: none!important;
	}//breakpoint(max-width $max-md)
}//hide-md-and-down 

.hide-lg-and-down {
	@include breakpoint(max-width $max-lg) {
		
	}//breakpoint(max-width $max-lg)
}//hide-lg-and-down 


// Center text on mobile
.center-sm-only {
	@include breakpoint(max-width $max-sm) {
		text-align: center;
	}
}

.hide-all { display: none!important; }
.show-all { display: initial!important; }

/********************
	White Space
*********************/
.nowrap,
.nowrap * {	
	white-space: nowrap;
}

.white-space-wrap,
.white-space-wrap * {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}


/********************
	equal-height-content - Visual Composer
*********************/

.equal-height-content {
	.vc_column-inner > .wpb_wrapper {
		height: 100%;
		display: flex;
		div {
			width: 100%;
		}
	}
}


/*****************************
	Background
******************************/
.background-bottom-right-container.background-bottom-right-container {
	background-position: right bottom!important;
	background-size: unset!important;
	background-repeat: no-repeat!important;
}

.background-bottom-container.background-bottom-container {
	background-position: center bottom!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}


.background-top-container.background-top-container {
	background-position: center top!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}


/*****************************
	Overflow
******************************/

.overflow-visible { overflow: visible!important; }

/*****************************
	SWAP - Works only with 2 elements - Visual Composer
******************************/

.swap-md,
.inverse-md {
	@include breakpoint($md) {
		display: flex;
		flex-direction: row-reverse;
	}//breakpoint($md)
}

.swap-sm,
.inverse-sm {
	@include breakpoint($sm) {
		display: flex;
		flex-direction: row-reverse;
	}//breakpoint($md)
}