/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

label {
	display: block;
	// color:$dark-blue;
	font-weight: 700;
	margin-bottom: 20px;
}

fieldset {
	margin-bottom: 35em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	@include fontsize(14, 22);
	// color: $dark-blue;
	border:0;
	border-radius: 3px;
	display: block;
	padding: 15px 20px;
	width: 100%;
	// background-color:$light-grey;
	margin-bottom: 20px;
	font-weight: 700;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	// color: #222;
	// border-color: #333;
}

select {
	// border: 1px solid #bbb;
	// -webkit-border-radius: 3px;
	// border-radius: 3px;
	// height: 3em;
	// max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 10px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	// font-weight: 400;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  // color: $dark-blue;
}
::-moz-placeholder { /* Firefox 19+ */
  // color: $dark-blue;
}
:-ms-input-placeholder { /* IE 10+ */
  // color: $dark-blue;
}
:-moz-placeholder { /* Firefox 18- */
  // color: $dark-blue;
}

