/***********
	Colors
************/

$white 					: #ffffff;

$brand-color			: #f25830;
$accent-color			: #fa9d2e;
$tertiary-color			: #4a7999;

$grey 					: #2d373e;
$black 					: #000000;
$orange					: #99664a;
$green					: #72be1e;	
$darkgreen 			:   #487910;	
$soft-blue				: #4ea9fb;	

/*****************
	Breakpoints
******************/

$sm 		: 768px;
$md 		: 992px;
$lg 		: 1200px;
$xl 		: 1440px;

$max-sm 	: 767px;
$max-md 	: 991px;
$max-lg 	: 1199px;
$max-xl 	: 1439px;

/*****************
	Helpers
******************/
$default-letter-spacing 	: 1px;