.carousel{
    position: relative;

    .carousel-item{
    
        @include breakpoint($md){
            display:  flex;
            justify-content: center;
             
        }
        .carousel-item-img{
            height: auto; 
            width: 100%;
            align-content: center;
            padding: 0em 2em 0em 2em;
            @include breakpoint($md){
            }
         
            img{
                
                width: 100%;
            }
        }//carousel-item-img

        .carousel-item-text{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0em 2em 0em 2em;
            @include breakpoint($md){
            }
         
      
            
          
        }//carousel-item-text  
    }//carousel-item
}//carousel

