.cta{
    background: url("../res/group-8@2x.png");
    background-size: cover; /* or contain depending on what you want */
  	background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    padding: 3em 3em 3em 3em;
    @include breakpoint($sm){
      padding: 3em 20% 3em 20%;
    }
    @include breakpoint($lg){
      min-height: 350px;
    }

    a{
      align-self: center;
    }
 
} 