.discover{
    padding: 2em 2em 5em 2em;
    .discover-title{
        text-align: center;
        margin-bottom: 4em;
        
        h2{
            @include fontsize(36,46);
        }
    }
    .discover-body{
        @include breakpoint ($sm){
            display: flex;
            justify-content: center;
        }
        ul{
            li{
            list-style: disc;

            padding: .5em;
            @include fontsize(14, 24);
            }
        }
    }
    .discover-bodyleft{
        padding: 0 2.5em;

    }
    .discover-bodyright{
        padding: 0 2.5em;
    }
}