.infoshuffle{
    

    .infoshuffle-row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include breakpoint($sm){
            flex-direction: row;
            justify-content: center;
            padding: 2em 1em 1em 1em;
        }
        @include breakpoint($md){
            padding: 2.5em 6em 0em 6em;
        }
        @include breakpoint($lg){
            padding: 0 15% 0 15%;
        }
        @include breakpoint($xl){
            
        }
        &:nth-child(2n+1){
            @include breakpoint($sm){
                flex-direction: row-reverse;
            }
        }
        &.gray-background{
            background-color: $gray;
        }
        
        .infoshuffle-row-img{
            width: 100%;
            height: auto;
            display: inline-block;
            
            @include breakpoint($sm){

            }
            @include breakpoint($md){
               
            }
            @include breakpoint($lg){
                
            }
            @include breakpoint($xl){
                
            }
            img{
                width: 100%;
                display: inline-block;
                border-radius: 6px;
                @include breakpoint($sm){

                }
                @include breakpoint($md){
                
                }
                @include breakpoint($lg){
      
                }
                @include breakpoint($xl){
                    
                }
           
            }
        }
        .infoshuffle-row-text{
            margin: 0 2em 0 2em;
            & *{
                text-align: left;

            }
            display: flex;
            justify-content:center;
            align-content:center;
            flex-direction:column;
            
            @include breakpoint ($sm){
                padding: 1em 0;
            }
            @include breakpoint ($md){
                padding: 2em 0;
            }
            @include breakpoint ($lg){
                padding: 2em 0;
            }
            @include breakpoint ($xl){
                padding: 1em 0;
            }
            ul{
                margin-bottom: 1em;
                
        
                
                li{
                    border-bottom: 1px;
                    border-style: solid;
                    border-color: $light-gray;
                    padding: 1em 0em 1em 0em;
                    @include fontsize(14,18);
                    font-weight: 400;
                    @include breakpoint($md){
                      
                        @include fontsize(16,20);
                    }
                    @include breakpoint($lg){
                        padding: 1.5em 0em 1.5em 0em;
                        @include fontsize(18,20);
                        font-weight: 300;
                    }
                }//list item
            }//list

            a{
                width: fit-content;
            }
        }
    }
}

.team-infoshuffle{
    padding-bottom: 1em;
    @extend .infoshuffle;
    //margin: 3em 0;
    .infoshuffle-row{
        @include breakpoint($sm){
            flex-direction: row;
            justify-content: center;
            padding: 2em 1em 2em 1em;
        }
        @include breakpoint($md){
            padding: 2.5em 6em 2.5em 6em;
        }
        @include breakpoint($lg){
            padding: 2.5em 15% 2.5em 15%;
        }
        @include breakpoint($lg){
            
        }
        .infoshuffle-row-text{
           
            margin-bottom: 2em;
            @include breakpoint($sm){
                width: 50%;

            }
            @include breakpoint($md){
                
            }
            @include breakpoint($lg){
         
            }
            @include breakpoint($xl){
                
            }
            h3{

            }
            h5{
                margin-bottom: 0px !important;
            }
            p{

            }
        }
        .infoshuffle-row-img{
            
            height: auto;
            
            display: inline-block;
            padding: 2em;
            padding-bottom: 1em;
            
            @include breakpoint($sm){
                width: 50%;
                padding: 0;

            }
            @include breakpoint($md){
               
            }
            @include breakpoint($lg){
                
            }
            @include breakpoint($xl){
                
            }
            img{
                width: 100%;
                display: inline-block;
                border-radius: 6px;
                @include breakpoint($sm){

                }
                @include breakpoint($md){
                
                }
                @include breakpoint($lg){
      
                }
                @include breakpoint($xl){
                    //max-width: 80%;
                }
           
            }
        }
    }
}




.product-infoshuffle{
    @extend .infoshuffle;
    padding-bottom: 3em;
    .infoshuffle-row{
        @include breakpoint($sm){
            flex-direction: row;
            justify-content: center;
            padding: 2em 1em 1em 1em;
        }
        @include breakpoint($md){
            padding: 2.5em 6em 0em 6em;
        }
        @include breakpoint($lg){
            padding: 2.5em 15% 0 15%;
        }
        @include breakpoint($lg){
            
        }
        .infoshuffle-row-text{
           
            margin-bottom: 2em;
            padding: 1em;
            @include breakpoint($sm){
                

            }
            @include breakpoint($md){
                
            }
            @include breakpoint($lg){
         
            }
            @include breakpoint($xl){
                
            }
            h3{
               
            }
            h5{
              text-align: left;
            }
            p{

            }
        }
        .infoshuffle-row-img{
            
            height: auto;
            
            display: inline-block;
            padding: 2em;
            padding-bottom: 1em;
            
            @include breakpoint($sm){
                padding: 0;

            }
            @include breakpoint($md){
               
            }
            @include breakpoint($lg){
                
            }
            @include breakpoint($xl){
                
            }
            img{
                width: 100%;
                display: inline-block;
                border-radius: 6px;
                @include breakpoint($sm){

                }
                @include breakpoint($md){
                
                }
                @include breakpoint($lg){
      
                }
                @include breakpoint($xl){
                    //max-width: 80%;
                }
            }
        }
    }
}

.help-infoshuffle{
    @extend .infoshuffle;
    .infoshuffle-row{
        @include breakpoint($sm){
            flex-direction: row;
            justify-content: center;
            padding: 2em 1em 1em 1em;
        }
        @include breakpoint($md){
            padding: 2.5em 6em 0em 6em;
        }
        @include breakpoint($lg){
            padding: 2.5em 15% 0 15%;
        }
        @include breakpoint($lg){
            
        }

        .infoshuffle-row-text{
           
            margin-bottom: 2em;
            @include breakpoint($sm){
                width: 50%;

            }
            @include breakpoint($md){
                
            }
            @include breakpoint($lg){
         
            }
            @include breakpoint($xl){
                
            }
            h3{
               
            }
            h5{
              text-align: left;
            }
            p{

            }
        }
        .infoshuffle-row-img{
            
            height: auto;

            padding: 2em;
            padding-bottom: 1em;
            
            @include breakpoint($sm){
                padding: 0;
                width: 50%;

            }
            @include breakpoint($md){
               
            }
            @include breakpoint($lg){
                
            }
            @include breakpoint($xl){
                
            }
            img{
               
                @include breakpoint($sm){

                }
                @include breakpoint($md){
                
                }
                @include breakpoint($lg){
      
                }
                @include breakpoint($xl){
                    //max-width: 80%;
                }
            }
        }
    }
}