.infoshuffle{

    .infoshuffle-row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include breakpoint($lg){
            flex-direction: row;
            justify-content: space-evenly;
            padding: 5em 6em 0em 6em;
        }
        &:nth-child(2n-1){
            @include breakpoint($lg){
                -ms-flex-align: center;
                flex-direction: row-reverse;
            }
        }
        
        .infoshuffle-row-img{
            
            height: auto; 
            width: 100%;
            padding: 0 20px ;
            @include breakpoint($md){

            }
            @include breakpoint($lg){
                padding:0 0 !important;
            }
            @include breakpoint($xl){
                max-width: 777px;
            }
            img{
                width: 100%;
            }
        }
        .infoshuffle-row-text{
                        margin: 0 2em 0 2em;
            ul{
                
                li{
                    border-bottom: 1px;
                    border-style: solid;
                    border-color: $light-gray;
                    padding: 1em 0em 1em 0em;
                    @include breakpoint($lg){
                        padding: 1.5em 0em 1.5em 0em;
                    }

                }
            }
        }
    }
}