.security{
    background: url("../res/banner-sign-up@2x.png");
    background-size: cover; /* or contain depending on what you want */
  	background-position: top bottom;
    background-repeat: no-repeat;
    padding: 2em;
    @include breakpoint ($sm){
       margin-bottom: -5em;
    }
    .security-title{
        text-align: center;
        h2{

        }
    }
    .security-body{
        @include breakpoint ($sm){
            display: flex;
            justify-content: center;
        }
        .security-body-img{
            width: 100%;
            height: auto;
            img{
                width: 100%;
                @include breakpoint ($sm){
                    //  max-width: 50%;
                      margin: 0 auto;
                  }
                @include breakpoint ($md){
                    max-width: 90%;
                    margin: 0 auto;
                }  
            }

        }

        .security-body-list{
            margin: 2em;
            ul{
                
                li{
                    color: white;
                    border-bottom: 1px;
                    border-style: solid;
                    border-color: $light-gray;
                    padding: 1em 0em 1em 0em;
                    @include fontsize(14,18);
                    font-weight: 400;
                    @include breakpoint($md){
                      
                        @include fontsize(16,20);
                    }
                    @include breakpoint($lg){
                        padding: 1.5em 0em 1.5em 0em;
                        @include fontsize(18,20);
                        font-weight: 300;
                    }
                }//list item
            }
        }
    }
}